In [61]:
from __future__ import print_function

import os.path

from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials
from google_auth_oauthlib.flow import InstalledAppFlow
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError

# If modifying these scopes, delete the file token.json.
SCOPES = ['https://www.googleapis.com/auth/spreadsheets', 'https://www.googleapis.com/auth/presentations']


# set creds
creds = None
# The file token.json stores the user's access and refresh tokens, and is
# created automatically when the authorization flow completes for the first
# time.
if os.path.exists('token.json'):
    creds = Credentials.from_authorized_user_file('token.json', SCOPES)
# If there are no (valid) credentials available, let the user log in.
if not creds or not creds.valid:
    if creds and creds.expired and creds.refresh_token:
        creds.refresh(Request())
    else:
        flow = InstalledAppFlow.from_client_secrets_file(
            'credentials.json', SCOPES)
        creds = flow.run_local_server(port=0)
    # Save the credentials for the next run
    with open('token.json', 'w') as token:
        token.write(creds.to_json())

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=672832104492-p6prs74jd262kj1c9ppltuk3oof9bt8h.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A55283%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpresentations&state=qgjnL6u5NAUXA312hO0yYMHQZOVj9T&access_type=offline

In [56]:
import pandas as pd

# Read the data from the file
path = '2019-nats-divc-results.csv'
data = pd.read_csv(path)
# Print the data
data

,Team,Overall,Total,Anatomy and Physiology,Astronomy,Boomilever,Chemistry Lab,Circuit Lab,Codebusters,Designer Genes,...,Mousetrap Vehicle,Protein Modeling,Sounds of Music,Thermodynamics,Water Quality,Wright Stuff,Write It Do It,Detector Building,Environmental Chemistry,Team Penalties
0,Troy H.S. CA,1,231,3,8,12,9,6,11,2,...,2,32,10,9,3,37,30,8,62,0
1,Solon H.S. OH,2,276,9,28,10,17,14,18,35,...,1,25,1,7,28,10,13,30,35,0
2,Harriton H.S. PA,3,277,4,11,22,5,3,10,14,...,8,5,18,13,9,11,55,62,26,0
3,Mason H.S. OH,4,294,2,9,11,11,4,4,8,...,27,17,8,4,6,16,26,6,12,0
4,Pioneer H.S. (Ann Arbor) MI,5,309,12,25,3,22,5,6,22,...,13,15,16,16,34,6,3,22,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Academic Magnet H.S. SC,57,1165,50,56,55,34,44,52,51,...,56,52,39,46,57,53,54,62,62,0
57,Cathedral H.S. MS,58,1177,39,58,51,59,52,55,54,...,31,55,52,52,58,33,46,62,34,0
58,Kelly Walsh H.S. WY,59,1208,58,38,59,54,59,54,59,...,59,53,48,59,51,50,25,62,38,0
59,Kaiyo Academy JP Ex,60,1224,60,60,60,29,60,60,60,...,60,60,60,60,60,60,39,62,62,0
60,South Burlington H.S. VT Ab,61,1380,60,60,60,60,60,60,60,...,60,60,60,60,60,60,60,62,62,0

In [57]:
data[data.columns.difference(['Overall', "Total", "Team Penalties"])]

,Anatomy and Physiology,Astronomy,Boomilever,Chemistry Lab,Circuit Lab,Codebusters,Designer Genes,Detector Building,Disease Detectives,Dynamic Planet,...,Herpetology,Mission Possible,Mousetrap Vehicle,Protein Modeling,Sounds of Music,Team,Thermodynamics,Water Quality,Wright Stuff,Write It Do It
0,3,8,12,9,6,11,2,8,1,8,...,18,8,2,32,10,Troy H.S. CA,9,3,37,30
1,9,28,10,17,14,18,35,30,15,7,...,5,3,1,25,1,Solon H.S. OH,7,28,10,13
2,4,11,22,5,3,10,14,62,4,11,...,8,15,8,5,18,Harriton H.S. PA,13,9,11,55
3,2,9,11,11,4,4,8,6,9,31,...,14,4,27,17,8,Mason H.S. OH,4,6,16,26
4,12,25,3,22,5,6,22,22,3,20,...,4,16,13,15,16,Pioneer H.S. (Ann Arbor) MI,16,34,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,50,56,55,34,44,52,51,62,42,54,...,52,52,56,52,39,Academic Magnet H.S. SC,46,57,53,54
57,39,58,51,59,52,55,54,62,53,59,...,56,36,31,55,52,Cathedral H.S. MS,52,58,33,46
58,58,38,59,54,59,54,59,62,57,56,...,48,59,59,53,48,Kelly Walsh H.S. WY,59,51,50,25
59,60,60,60,29,60,60,60,62,60,60,...,60,60,60,60,60,Kaiyo Academy JP Ex,60,60,60,39
60,60,60,60,60,60,60,60,62,60,60,...,60,60,60,60,60,South Burlington H.S. VT Ab,60,60,60,60

In [58]:
one_event = data[data["Astronomy"].between(1, 10)].sort_values(by="Astronomy").filter(items=["Astronomy", "Team"]).set_index("Astronomy")
one_event

                            Team
Astronomy
1             New Trier H.S. IL
2                Carmel H.S. IN
3                      ABRHS MA
4             Mira Loma H.S. CA
5          Madison West H.S. WI
6          Enloe Magnet H.S. NC
7            Centennial H.S. MD
8                  Troy H.S. CA
9                 Mason H.S. OH
10                    TJHSST VA

In [62]:
def create_presentation(title):
    """
        Creates the Presentation the user has access to.
        Load pre-authorized user credentials from the environment.
        TODO(developer) - See https://developers.google.com/identity
        for guides on implementing OAuth2 for the application.
        """
    # pylint: disable=maybe-no-member
    try:
        service = build('slides', 'v1', credentials=creds)

        body = {
            'title': title
        }
        presentation = service.presentations() \
            .create(body=body).execute()
        print(f"Created presentation with ID:"
              f"{(presentation.get('presentationId'))}")
        return presentation

    except HttpError as error:
        print(f"An error occurred: {error}")
        print("presentation not created")
        return error


if __name__ == '__main__':
    # Put the title of the presentation

    create_presentation("finalp")

Created presentation with ID:1uPWaH8z4_QQPn8ba2Ui8N2FmRrOz3EL8GP7YPoTNve4